<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.association :institution, collection: Institution.all %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", {class: "btn btn-primary", type: "submit"} %>
  </div>
<% end %>

<%= link_to "Cancel", authenticated_root_path %>