<%= simple_form_for(@description_object) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :dpn_status, as: :radio_buttons, html: {checked_value: true, unchecked_value: false} %>
    <%= f.input :institution_id, collection: Institution.all, as: :select %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
