<div class="page-header">
  <h1>Description Objects</h1>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>DPN Bound?</th>
      <th>Institution</th>
      <th>PID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @description_objects.each do |description_object| %>
      <tr>
        <td><%= description_object.title %></td>
        <td><%= translate(description_object.dpn_status.to_bool.class) %></td>
        <td><%= description_object.institution.name %></td>
        <% if description_object.fedora_attribute.pid %>
        <td><%= description_object.fedora_attribute.pid %></td>
        <% else %>
        <% end %>
        <td><%= show_link description_object %> <%= edit_link description_object %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= create_link(DescriptionObject) %>
