<div class="page-header">
  <h1><%= @description_object.title %>
</div>

<p>
  <strong>DPN status:</strong>
  <%= translate(@description_object.dpn_status.to_bool.class) %>
</p>

<p>
  <strong>Institution:</strong>
  <%= link_to @description_object.institution.name, institution_path(@description_object.institution) %>
</p>

<%= edit_link @description_object %>
<%= show_link @description_object.fedora_link, "Fedora Object", {target: "_blank", class: 'btn'} %>