<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :name %>
    <%= f.association :institution, collection: Institution.all %>
    <%= f.input :role, collection: User::ROLES.sort.map { |r| [r.titleize, r] } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", {class: "btn btn-primary", type: "submit"} %>
  </div>
<% end %>