<address>
  <strong><%= @user.name %></strong><br>
  <em><%= @user.institution.name %></em><br>
  <%= @user.role.titleize %><br>
  <a href="mailto:#"><%= @user.email %></a>
</address>


<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Back', users_path, class: 'btn btn-warning' %>