<address>
  <strong><%= @user.name %></strong> (<em><%= @user.institution.name %></em>)<br>
  <a href="mailto:#"><%= @user.email %></a><br>
  <abbr title="Phone">P:</abbr><%= @user.phone_number %><br><br>
  
  <%= @user.role.titleize %>
</address>

<%= edit_link(@user) %>
<%= destroy_link(@user) %>
