<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">APTrust Admin</a>

    <ul class="nav pull-right">
      <li class="dropdown">
        <% if user_signed_in? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.display_name %> - <strong><%= current_user.institution.name %></strong> (<em><%= current_user.role.humanize %></em>) <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
        <% end %>
      </li>
    </ul>
    
    <% if user_signed_in? %>
    <ul class="nav"> 
      <li><%= link_to "Description Objects", description_objects_path %></li> 
    </ul>

      <% if current_user.is? :superuser or current_user.is? :institutional_admin %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :create, Institution %>
              <li><%= link_to "Institutions", institutions_path %></li>
            <% end %>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Register New User", new_user_path %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    <% end %>   
  </div>
</div>